### Working with Strings

In [ ]:
x = "hello guys!"
dir(x)

In [ ]:
x.swapcase()

In [ ]:
x.capitalize()

## break and continue

In [ ]:
x = 10
for n in range(1,20):
if n == x :
        break
    print (n)

In [ ]:
x = 10
for n in range(0,20):
    if n == x :
        continue
    print (n)

## Function

In [ ]:
def do_nothing():
    s = "I don't do much"
    print(s)

In [ ]:
do_nothing()

In [ ]:
def bytwo(a):
    result = a*2
    return result

In [ ]:
bytwo(3)

In [ ]:
def welcome(name, time):
    print("Hello",name,", Good", time)

In [ ]:
welcome("Mohamed","Morning")

In [ ]:
def summ(x,y,z):
    return x+y+z

In [ ]:
summ(1,2,3)

In [ ]:
def hello(time, name):
    print ('Good ' + time + ', ' + name + '!')

In [ ]:
## square function and get sum

# Recursion

In [ ]:
def count_backwards(x):
    print(x)
    if x > 0:
        count_backwards(x-1)

In [ ]:
count_backwards(5)

In [ ]:
def by12(x):
    print(x,"* 12 = ",x*12)
    if x < 12:
        by12(x+1)

In [ ]:
by12(1)

In [ ]:
# fib

# Reading from user

In [ ]:
x = input('Enter an integer')
print(x)

In [ ]:
for i in range(1,20):
    print(i,"* 12 = ",i*12)
    if i==12:
        break

# Modules

In [ ]:
print (sin(3)) # Error! Python doesn't know what sin is...yet

In [ ]:
import math 
math.sin(3)

In [ ]:
# dir math, help math

In [ ]:
import math as m
print(m.sin(3))

In [ ]:
math?

In [ ]:
help(math)

In [ ]:
# String

In [ ]:
s = "This is a string."
s2 = 'This is another string that uses single quotes'
print(len(s))

In [ ]:
s = 'abcdefghijklmnopqrstuvwxyz'
s[1:4]

In [ ]:
print(s[-1])
print(s[1:4])

In [ ]:
'str1' < 'str2'

In [82]:
s = "this;is;a;string"

In [80]:
s.startswith("this")

True

In [84]:
s.split(";")

['this', 'is', 'a', 'string']

In [85]:
s.strip()

'this;is;a;string'

In [86]:
str = "0000000this is string example....wow!!!0000000";
print (str.strip( '0' ))

this is string example....wow!!!

In [88]:
title = "Dr."
firstname = "Omer"
lastname = "Ali"
fullname = title +" "+ firstname +" "+ lastname
print (fullname)

Dr. Omer Ali

# Set

In [91]:
fruits = {"apple", "banana", "pear", "banana"}
print (fruits)

{'banana', 'apple', 'pear'}

In [92]:
fruits.add('pineapple')
print (fruits)

{'banana', 'apple', 'pear', 'pineapple'}

In [93]:
set1 = {1,2,3,4}
set2 = {2,4,6,8}
print(set1 & set2) # intersection
print(set1 | set2) # union
print(set1 - set2) # difference

{2, 4}
{1, 2, 3, 4, 6, 8}
{1, 3}

# Tuples

In [94]:
tup = ("red", "white", "blue") 
type(tup)

tuple

In [95]:
res = ("yellow","black","green")
x = tup + res
print(x)

('red', 'white', 'blue', 'yellow', 'black', 'green')

# Lists

In [100]:
x = [-2.0, -1.0, 0.0, 1.0, 2.0]
x.append(3.0)
x

[-2.0, -1.0, 0.0, 1.0, 2.0, 3.0]

In [101]:
x = [[1,2],[2,3]]
x

[[1, 2], [2, 3]]

In [102]:
mylist = ['Class', 10, 'A', 2.0 , True]
mylist[-1]

True

# Dictionaries

In [107]:
default_data = {
            'item1': 1,
            'item2': 2,
}

In [108]:
default_data['item1'] = (1,2)
default_data

{'item1': (1, 2), 'item2': 2}

In [104]:
type(default_data)

dict

# Machine Learning Classifier

In [114]:
from sklearn import tree
# [height,weight,shoe size]
X = [[181,80,44],[177,70,43],[160,60,38],[154,54,37],[166,65,40],
     [190,90,47],[175,64,39],[177,70,40],[171,75,42],[181,85,43]]
Y = ['male','female','female','female','male','male','male','female',
     'female','male']
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,Y)
prediction = clf.predict([[200,80,39]])
print(prediction)

['male']

In [118]:
from sklearn.datasets import load_iris
import numpy as np
from sklearn import tree


iris = load_iris()
indx = [0,50,100]

features = np.delete(iris.data,indx,axis=0)
labels = np.delete(iris.target,indx)

clf = tree.DecisionTreeClassifier()
clf = clf.fit(features,labels)

In [122]:
test_features = [iris.data[indx]]
test_features

[array([[ 5.1,  3.5,  1.4,  0.2],
        [ 7. ,  3.2,  4.7,  1.4],
        [ 6.3,  3.3,  6. ,  2.5]])]

In [139]:
#predict the value

try:
    label = clf.predict([test_features[0][3]])
    if label == 0:
        print("S")
    elif label == 1:
        print("VC")
    elif label == 2:
        print("VG")
except IndexError as e:
    print(e)

index 3 is out of bounds for axis 0 with size 3